/* Deklarasi warna */
.blue-1 {
    background-color: #F1F3FF;
}
.blue-4 {
    background-color: #0D28A6;
}
.green-3 {
    background-color: #92D094;
}
.green-4 {
    background-color: #5CB85F;
}

/* Umum */
body {
    font-family: Helvetica, sans-serif;
    font-style: normal;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}
nav a:hover {
    background-color: #d9def5;
    border-radius: 5px;
}
.btn:hover {
    background-color: #d9def5;
}

/* TAMPILAN HOME */
.home {
    padding-left: 7%;
    padding-right: 0;
}
.car {
    width: 100%;
    min-width: 460px;
    right: 0;
    padding-top: 60px;
}

/* TAMPILAN OUR SERVICE */
.service {
    margin: 0 12% 8% 12%;
}
li {
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.ceklis {
    width: 24px;
}

/* TAMPILAN TESTIMONI */
.profil {
    width: 70px !important;
    margin: 0 auto;
    margin-top: 50px;
}

/* TAMPILAN BANNER */
.banner {
    border-radius: 10px;
}
.banner-text {
    width: 50%;
    margin: 0 auto;
}

/* TAMPILAN FOOTER */
.footer-menu {
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.sosmed {
    height: 32px;
}
.logo-bawah {
    width: 100px;
}